dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/libHScheckers-0.1.0.0-inplace-ghc8.8.4.dylib
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/libHScheckers-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/cache/build
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/libHScheckers-0.1.0.0-inplace-ghc8.8.4.dylib
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/libHScheckers-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/BasicPrint.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/BasicPrint.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/BasicPrint.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/BasicPrint.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/Types.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/Types.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Basic.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Basic.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Basic.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Basic.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Types.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Types.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Cursor.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Draw.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Event.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/build/Checkers/FrontEnd/Terminal/Types.o
dist-newstyle/build/x86_64-osx/ghc-8.8.4/checkers-0.1.0.0/cache/build
dist-newstyle/cache/solver-plan
